@import '../../../assets/variables/base.scss';
.card{
    width: 250px;
    border-radius: 0 0 10px 10px;
    transition: all 0.4s ease-out 0s;
    background: #222433;
    .overlay{
        display: none;
    }
    .card-image{
        img{
            height: 250px;
            width: 250px;
        }
    }
    .card-content{
        
        text-align: center;
        height: 92px;
        border-radius: 0 0 5px 5px;
        span{
            display: block;
            color: $span;
        }
    }
    &:hover{
        box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
        transition: all 0.5s ease-in 0s;
        height: 360px;
        .card-content{
            p,span{
                visibility: hidden;
            }
        }
        .overlay{
            transition: all 0.4s ease-in 0s;
            border-radius: 0 0 10px 10px;
            display: block;
            position: absolute;
            width: 250px;
            background: linear-gradient(180deg, transparent 0%, rgba(237, 33, 93,0.6) 51%, rgba(237, 33, 93,1) 100%);
            .overlay-action{
                height: 250px;
                padding: 30px;
                .flex{
                    justify-content: space-between;
                    align-items: center;
                    i.fa{
                        color:$white
                    }
                }
            }
            .overlay-content{
                height: 110px;
                padding: 20px;
                
                text-align: center;

                span{
                    display: block;
                }
                p,span{
                 color: $white; 
                 font-weight: bold
                }
            }
        }
    }
}