@import './colors';
@import './fonts';
@include font-face('Maison-Neue-Light', '../fonts/Maison-Neue-Light.otf');
@include font-face('Maison-Neue-Bold', '../fonts/Maison-Neue-Bold.otf');
.section{
    color:$white;
    padding: 40px 40px 80px 40px;

    
}
.card{
    border:0
}
.dark-bg{
    background:$darkBackground;
}
.row{
    margin: 0;
}
.bold{
    font-weight: bold
}
.fullscreen{
    height: 100%;
}
.text-white{
    color:$white
}
.text-gray{
    color:$span !important
}
.btn{
    color:$white;
    text-transform: uppercase;
    font-size: 13px
}
.btn-success{
  background-color: $pink;
  border-color: $pink;
 
}
.form-control{
    font-family: 'Montserrat', sans-serif;
}
.modal{
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}
.modal-content{
    background-color: $sidebar !important;
}
.modal-dialog{
    margin: 0 auto;
}
.modal-open{
    .modal{
     overflow-y: hidden
    }
}
.modal .modal-footer{
    background-color: transparent;
    border-top: none;
}
.btn-primary{
    background-color: $facebook;
    border-color: $facebook;
}
.btn-danger{
    background-color: #2F3255;
    border-color: #2F3255;
    
}
.flex{
    display:flex;
}
.root{
    font-family: 'Montserrat', sans-serif;
}
.m-l-10{
    margin-left: 10px
}
.m-r-30{
    margin-right: 20px
}
.m-t-30{
    margin-top: 30px
}
.m-t-10{
    margin-top: 10px
}
.m-t-5{
    margin-top: 5px
}
.has-danger{
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #721c24;
    border-color: #721c24;
    
}