@import '../../../assets/variables/base.scss';
.no-padding{
  td{
      padding: 0px 10px;
  }
}
.rowTable{
    .btn-group{
        span{
            color:$span;
        }
    }
    .btn{
        background: transparent !important;
        box-shadow: none;
       
    }
    img{
        width:60px;
        height: 60px;
    }
    td{
        vertical-align: middle !important;
        color:$span;
        .flex{
            align-items: center;
        }
    }
    .fa-heart, .fa-heart-o{
        color: $pink !important;
        margin-left:20px;
        cursor: pointer;
    }
    i.fa{
        color:$span
    }
    .big{
        width: 30%;
    }
    .flex{
       display: flex;
       justify-content: initial !important;
    }
    .info{
        margin-left: 20px;
        p{
          font-weight: bold
        }
        span{
            color:$span
        }
    }
    
}