@import '../../assets/variables/base.scss';
.header{
    z-index: 99;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    overflow: hidden;

      
        .item-list{
            width:80%;
            display: flex;
            justify-content: space-around;

            a{
             text-decoration: none;
            }
            .item{
            color:$white;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            padding: 20px;
            }
            .active{
                border-bottom: 3px solid $pink
            }
        }
    

}
.bg{
    background: $musicPlayer;
}