@import '../../../assets/variables/base.scss';
.table{
    width:100%;
    margin-top: 20px;
    thead{
        th{
            border-bottom:2px solid $border-form;

        }
    }
    th{
        text-transform: uppercase;
        color:$span;
        border-top:none;
    }
    td{
        border-top:none;
        border-bottom:2px solid $border-form;
        vertical-align : middle;
        padding: 1em 1.5em;

    }
   
}