@import '../../assets/variables/base.scss';

.search{
    height: auto;
    .overlay{
        background: linear-gradient(180deg, rgba(19, 23, 34,0) 0%, rgba(19, 23, 34,0) 31%, rgba(19, 23, 34,1) 100%),
        linear-gradient(90deg, rgba(19, 23, 34,1) 0%, rgba(19, 23, 34,0) 31%, rgba(19, 23, 34,1) 100%),
        linear-gradient(45deg, rgba(19, 23, 34,1) 0%, rgba(19, 23, 34,0) 61%, rgba(19, 23, 34,1) 100%);
    }
    .section{
        .overflow{
            width: 2000px;
            overflow-x:auto;
        }
        .overflow::-webkit-scrollbar {
            display: none;
        }
       .flex{
        display: -webkit-box;
         justify-content: space-between
       }

       .card-list{
           margin-top: 20px;
           .card{
            width: 250px;
            margin: 0 10px;
           }
           
       }
    }
    
}